.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

input[type=text]{
  width: 200px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid rgb(150, 0, 0);
  margin-top: 50px;
  font-family: "Quicksand", sans-serif;
}

input:focus{
  outline: none;
}

.query_results_wrap{
  margin-top: 100px;
  height: auto;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}

.result{
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(150, 0, 0);
  margin: auto;
  margin-top: 150px;
  min-width: 640px;
  max-width: 640px;
  height: 360px;
  display: flex;
  flex-direction: column;
}
.result:first-child{
  margin-top: 0;
}

iframe{
  height: 500px;
}

.video_wrap{
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 100px;
}
.video_wrap:first-child{
  margin-top:0;
}

.consoleBody{
  background-color: rgb(150,0,0);
  height: 60px;
  width: 100%;
}

.consoleBodyWrap{
  display: flex;
  justify-content: flex-start;
  margin-bottom: -60px;
}

#addBtn{
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  color: rgb(150, 0, 0);
  font-size: 30px;
  margin-top: 5px;
  border-radius: 5%;
  margin-left: 10px;
}

#ytBtn{
  margin: auto;
  height: 30px;
  color: rgb(150,0,0);
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
}

a{
  text-decoration: none;
}

.ytlink{
  background-color: white;
  display: flex;
  height: 45px;
  padding: 2.5px;
  padding-left: 10px;
  border-radius: 5%;
  margin-top: 5px;
  margin-left: 10px;
}

